@page "/counterJavaScript"
@inject IJSRuntime JS


<h1>Counter Java Script</h1>

<p>Current count: @currentCount</p>

<button id="btnMeuBotao"  class="btn btn-primary" @onclick='mouseEvent => HandleClick(mouseEvent, "Oi Povo")'>Click me</button>
<input value=@data @onkeypress="ProcessKeyPress" />



@code {
    private int currentCount = 0;

    private async Task HandleClick(MouseEventArgs e, string msg)
    {
        if (e.AltKey) // Ctrl key pressed as well
        {
            await JS.InvokeVoidAsync("alert", msg);
            currentCount += 5;
        }
        else
        {
            currentCount++;
        }
    }

    private string data;
    
    private async Task ProcessKeyPress(KeyboardEventArgs e)
    {
        if (e.Key == "@")
        {
            await JS.InvokeVoidAsync("alert", "You pressed @");
        }
        else
        {
            data += e.Key.ToUpper();
        }
    }
}
