@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="O Blazor é interessante?" />


<Counter IncrementAmount="20"/>

<Todo />
@*<Todo></Todo> também posso usar esse formato*@



<img src="/imagens/alunos1.jpg" />
<br />
<h4>Cadastro de Alunos..</h4>