@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<p>Oi eu sou um exemplo</p>

<h2>Olá eu sou um exemplo de header 2</h2>
