


@{
    Layout = "_LayoutEspecial";
    ViewData["Title"] = "Meu exemplo apenas pelo caos";
}

<h1>Título da Página - Exemplo</h1>


<h2 style="color:red; font-size:24px;">
    @MeuMetodo("Oi mundo");
</h2>


@section css{
    <link rel="stylesheet" href="~/css/Exemplo.css" />
}



<p class="MinhaClasse">Meu parágrafo funfando</p>

<div id="Jonatas"> 
    <p>Meu segundo parágrafo</p>
    <p>Meu terceiro parágrafo</p>
</div>




@section Scripts{
     <script src="~/js/Exemplo.js"></script>
}

